img {
	width: 100vw;
	border-radius: 0%;

}

body{
	background-color: #333;
}

/*Media query*/

@media screen and (max-width: 768px) {

	img#responsive {
		display: block;
	}
}

@media screen and (min-width: 768px) {
	
	img#responsive {
		display: none;
	}
}